footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
}

.footer {
    background-color: var(--dark-bg-solid);
    padding: var(--spacings-68);
}

.footer__copy{
    margin-top: var(--spacings-36);
    text-align: center;

}