.shopping-cart {
    margin: var(--spacings-36) 0;
   
    max-width: 1200px;
}

.shopping-cart__title {
    display: inline-block;
    margin: var(--spacings-36) 0;
}

.shopping-cart__title-title {
    font-family: var(--alternative-font);
    font-weight: 700;
    font-size: var(--font-display);
}

hr {
    height: 5px;
    background-color: var(--primary-solid);
    width: auto;
}

.shopping-cart__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--spacings-24) 0;
    background-color: var(--light-bg-solid);
    border-radius: 10px;
    border: 1px solid var(--dark-solid);
}

.shopping-cart__header {
    display: inline;
    margin: var(--spacings-20) ;  
}

.shopping-cart__subtitle {
    font-family: var(--base-font);
    font-weight: 700;
    font-size: var(--font-small);
}

.shopping-cart__items {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: var(--spacings-8) 0;
    
}

.shopping-cart__items-title{
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 700;
}

.shopping-cart__item {
    background-color: var(--light-bg-solid);
    border: 1px solid var(--dark-solid);
    width: 576px;
    height: 197px;   
}

.shopping-cart__item-header {
    display: inline;
    margin: var(--spacings-20) ;  
}

.shopping-cart__item-subtitle {
    font-family: var(--base-font);
    font-weight: 600;
    font-size: var(--font-small);
}

.shopping-cart__item-subtitle-total {
    font-family: var(--base-font);
    font-weight: 700;
    font-size: var(--font-medium);
}